<div>
  <div>
    <h1>
      How-To-Do #<%= @the_stretch.name %>
    </h1>

<% current_user_bookmarks= bookmark=Bookmark.where(
  {
    :user_id => session.fetch(:user_id),
    :stretch_id => @the_stretch.id 
  }) %>

<% the_bookmark=current_user_bookmarks.at(0)%>
<% if session[:user_id] != nil %>
<% if the_bookmark==nil %>
<form action="/insert_bookmark" method="post">
<input type="hidden" name ="query_stretch_id" value="<%= @the_stretch.id %>">

<button>Bookmark this stretch!</button>
</form>
<%else %>
<a href="/delete_bookmark/<%= the_bookmark.id %>">Un-bookmark</a>
<%end%>
<%end%>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_stretch.name %>
      </dd>

      <dt>
        Body part
      </dt>
      <dd>
        <%= @the_body_part.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_stretch.description %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_stretch.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_stretch.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
    <div>
      <div>
        <a href="/stretches">
          Go back
        </a>
      </div>
