<div>
  <div>
    <h1>
      List of all user body parts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new user body part
    </h2>

    <form action="/insert_user_body_part" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="body_part_id_box">
          Body part
        </label>

        <input type="text" id="body_part_id_box" name="query_body_part_id">
      </div>

      <button>
        Create user body part
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Body part
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_user_body_parts.each do |a_user_body_part| %>
      <tr>
        <td>
          <%= a_user_body_part.id %>
        </td>

        <td>
          <%= a_user_body_part.user_id %>
        </td>

        <td>
          <%= a_user_body_part.body_part_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_user_body_part.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_user_body_part.updated_at) %> ago
        </td>

        <td>
          <a href="/user_body_parts/<%= a_user_body_part.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
