<div>
  <div>
    <h1>
      Are you feeling sore today? Do not worry anymore, the Stretch Master is here!
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Feel free to add a different body part other than the ones listed below.
    </h2>

    <form action="/insert_body_part" method="post">
      <div>
        <label for="name_box">
         Body Part Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create body part
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        Recommended Stretches
        </th>
      </tr>

      <% @list_of_body_parts.each do |a_body_part| %>
      <tr>
        <td>
          <%= a_body_part.id %>
        </td>

        <td>
          <%= a_body_part.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_body_part.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_body_part.updated_at) %> ago
        </td>

        <td>
          <a href="/body_parts/<%= a_body_part.id %>">
            Show recommended stretches
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
